<a href="https://colab.research.google.com/github/ashyaulla/Playstore-Data-Analysis/blob/main/Copy_of_Playstore_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##                              **Problem statement**



## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

### **1.Data Preparation and Cleaning**

---

In [2]:
#importing the required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#mounting the drive containing the data files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#reading the playstore data ande user reviews data
PS_df = pd.read_csv('/content/drive/MyDrive/AlmaBetter/EDA play store analysis/Play Store Data.csv')
UR_df = pd.read_csv('/content/drive/MyDrive/AlmaBetter/EDA play store analysis/User Reviews.csv')

**Playstore Data**

In [5]:
#To understand the components of the playstore data file
PS_df.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [6]:
#To display the first 5 observations of the data 
PS_df.head(5)

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [7]:
# Return the count of each App in the Playstore datafarme
PS_df['App'].value_counts()

ROBLOX                                                9
CBS Sports App - Scores, News, Stats & Watch Live     8
Candy Crush Saga                                      7
ESPN                                                  7
8 Ball Pool                                           7
                                                     ..
2 Amateur ham radio CW Morse code practice keys TX    1
Secure Folder                                         1
T-Mobile Visual Voicemail                             1
5 Minute Clinical Consult 2019 - #1 for 25 years      1
Courier Journal                                       1
Name: App, Length: 9660, dtype: int64

In [8]:
# Updates the playstore dataframe with duplicate rows removed
PS_df = PS_df.drop_duplicates(['App'])

In [9]:
#To understand the components of the playstore data file and to identify the rows with NaN values
PS_df.info( )

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9660 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9660 non-null   object
 1   Category        9660 non-null   object
 2   Rating          8197 non-null   float64
 3   Reviews         9660 non-null   object
 4   Size            9660 non-null   object
 5   Installs        9660 non-null   object
 6   Type            9659 non-null   object
 7   Price           9660 non-null   object
 8   Content Rating  9659 non-null   object
 9   Genres          9660 non-null   object
 10  Last Updated    9660 non-null   object
 11  Current Ver     9652 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.0+ MB

In [10]:
#identifying the app with type NaN
PS_df[PS_df['Type'].isnull()]

                            App  ...         Android Ver
9148  Command & Conquer: Rivals  ...  Varies with device

[1 rows x 13 columns]

In [11]:
#After cross-checking in the Goople playstore ,we have identified the app to be of Type='Free'.
PS_df['Type'].fillna("Free", inplace = True)

In [12]:
#identifying the app with Content Rating NaN
print(PS_df[PS_df['Content Rating'].isnull()])
#The value of category column is missing and due to this the values of the other columns are being replaced with the values from previous columns in this row.
set(list(PS_df['Category']))

                                           App Category  ...  Current Ver Android Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

{'1.9',
 'ART_AND_DESIGN',
 'AUTO_AND_VEHICLES',
 'BEAUTY',
 'BOOKS_AND_REFERENCE',
 'BUSINESS',
 'COMICS',
 'COMMUNICATION',
 'DATING',
 'EDUCATION',
 'ENTERTAINMENT',
 'EVENTS',
 'FAMILY',
 'FINANCE',
 'FOOD_AND_DRINK',
 'GAME',
 'HEALTH_AND_FITNESS',
 'HOUSE_AND_HOME',
 'LIBRARIES_AND_DEMO',
 'LIFESTYLE',
 'MAPS_AND_NAVIGATION',
 'MEDICAL',
 'NEWS_AND_MAGAZINES',
 'PARENTING',
 'PERSONALIZATION',
 'PHOTOGRAPHY',
 'PRODUCTIVITY',
 'SHOPPING',
 'SOCIAL',
 'SPORTS',
 'TOOLS',
 'TRAVEL_AND_LOCAL',
 'VIDEO_PLAYERS',
 'WEATHER'}

In [13]:
#Cross-checking in Google playstore,The category of the app has been identified to be LIFESTYLE
PS_df['Category'].fillna('LIFESTYLE', inplace = True)

In [14]:
#Cross-checking in Google playstore,The category of the app has been identified to be LIFESTYLE
PS_df['Category'].fillna('LIFESTYLE', inplace = True)

In [ ]:
#check if the playstore dataframe has any null values to ensure that all modifications are in place
PS_df.isnull().sum()

App                  0
Category             0
Rating            1463
Reviews              0
Size                 0
Installs             0
Type                 0
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64


Firstly, we need to convert the data types with their respective actual type
Reviews, Size, Installs, & Price should have an integer or float datatype, But here we can see of object type, So let's convert them to their respective type.

In [33]:
#Data cleaning for "Rating column"
PS_df[PS_df['Rating'].isnull()]

                                       App  ... Android Ver
23                  Mcqueen Coloring pages  ...  4.1 and up
113              Wrinkles and rejuvenation  ...  3.0 and up
123                 Manicure - nail design  ...  4.1 and up
126           Skin Care and Natural Beauty  ...  4.1 and up
129    Secrets of beauty, youth and health  ...  2.3 and up
...                                    ...  ...         ...
10824                            Cardio-FR  ...  4.4 and up
10825                   Naruto & Boruto FR  ...  4.0 and up
10831             payermonstationnement.fr  ...  4.0 and up
10835                             FR Forms  ...  4.0 and up
10838               Parkinson Exercices FR  ...  2.2 and up

[1463 rows x 13 columns]

In [31]:
#taking mode value of the rating column and replace NaN values in it with the mode value
mode_PS_df_Rating = PS_df['Rating'].mode()
print(mode_PS_df_Rating)

0    4.3
dtype: float64

In [42]:
#Now updating the Nan vlues with the mode i  the Rating column
PS_df['Rating'].fillna(value = mode_PS_df_Rating, inplace = True)
PS_df[PS_df['Rating'].isnull()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [23]:
#Data cleaning for "Content Rating" column
PS_df[PS_df['Content Rating'].isnull()]

                                           App Category  ...  Current Ver Android Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

In [24]:
#dropping the Nan in content Rating
PS_df.dropna(subset = ['Content Rating'], inplace=True)

In [43]:
#Data clening for the "Android Ver" column
PS_df[PS_df['Android Ver'].isnull()]

                         App         Category  ...  Current Ver Android Ver
4453  [substratum] Vacuum: P  PERSONALIZATION  ...          4.4         NaN
4490    Pi Dark [substratum]  PERSONALIZATION  ...          1.1         NaN

[2 rows x 13 columns]

In [45]:
PS_df.dropna(subset= ['Android Ver'], inplace = True)
PS_df[PS_df['Android Ver'].isnull()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [48]:
#droppig Nan values in "current ver" column
PS_df.dropna(subset = ['Current Ver'], inplace=True)

In [49]:
PS_df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64